<h1>concatss, concatenated screenshot generator</h1>

<form method="post" action="/upload" enctype="multipart/form-data">
	<p>image 1 <input type="file" name="image01" size=50></p>
	<p>image 2 <input type="file" name="image02" size=50></p>
	<p>image 3 <input type="file" name="image03" size=50></p>
	<p>image 4 <input type="file" name="image04" size=50></p>
	<p>image 5 <input type="file" name="image05" size=50></p>
	<p>image 6 <input type="file" name="image06" size=50></p>
	<p>image 7 <input type="file" name="image07" size=50></p>
	<p>image 8 <input type="file" name="image08" size=50></p>
	<p>image 9 <input type="file" name="image09" size=50></p>
	<p><input type="submit" value="submit"></p>
</form>
